body{
    width:80%;
    margin:auto;
}

h1{
    text-align:center;
    margin-top: 10%;
}

p{
    width:40%;
    float:right;
    margin-right:10%;
    margin-top: 2%;
}

img{
    width:17.5%;
    margin-left: 25%;
    margin-top: 2%;
}